/* font stuff */
@font-face 
{
  font-family: MedievalSharp;
  src: url("./fonts/medieval-sharp-font/MedievalSharp-xOZ5.ttf");
}

/* container stuff */
html, body{
    height: 100%;
}

a {
    all: unset;
}

/* main page formatting */
#main {
    margin:0;
    
    background-image: url("./images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
};

#games {
    margin:0;
    
    background-image: url("./images/gamesBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
};

/* general page item formatting */
.card {
    box-shadow: 0px 0px 0px 0px;
    transition: 1s;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.card:hover {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: 1s;
}
.cardText {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* specific item formatting */
#FoodWars {
    background-color: #c1759b;
    font-family: MedievalSharp;
}